// overriding the default background header color of the modal 
.ui.modal>.header:not(.ui) {
    background-color: rgba($primary-color, 0.4);
}

.modal{
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__body{
        &--failed-to-load{
            display: flex;
            justify-content: center;
            color: $error-message-color;
        }
    }
}