.stocks-container {
    margin: 1.25rem 5rem;
}

.no-results-found {
    @include position-center;
}

// overiding global pagination styling
.ui.pagination.menu .active.item {
    background-color: rgba($primary-color, 0.4);
}

.cell {
    &__symbol {
        font-weight: bold;
        cursor: pointer;
    }
}