.header {
    height: $header-height;
    background-color: rgba($light-gray-color, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    border-bottom: 1px solid rgba($light-gray-color, 0.5);
    overflow: hidden;

    @include respond(tab-port) {
        padding: 0.5rem 4rem;
    }

    @include respond(phone) {
        padding: 0.5rem 1rem;
    }

    &__logo {
        border-radius: 3px;
        height: 8vh;

        &--image {
            height: 100%;
            width: auto;
            filter: opacity(.9);

            @include respond(phone) {
                width: 8rem;
            }

            &:hover {
                filter: opacity(1);
            }

            &:hover {
                box-shadow: 0 0.25rem 0.5rem rgba($dark-gray-color, 0.1);
                cursor: pointer;
                transform: scale(1.01);
                transition: all 0.2s;
                backface-visibility: hidden;
            }
        }
    }
}