html {
  /* overriding 1rem =10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #FAFAFA;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  /* default */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}